.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 20px;
}

.title {
  border-bottom-width: 4px;
  border-style: outset;
  border-image: linear-gradient(to right, #30e8bf, #ff8235) 1;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--color-foreground);
  font-weight: 600;
  line-height: 2;
  padding-bottom: 4px;
}
