.app-container {
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 15px;
  scrollbar-width: none;
}

@media screen and (max-width: 992px) {
  .app-container {
    width: 100%;
    padding: 0;
  }
}
